<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OauthConsumerKey" value="ENTER YOUR KEY"/>
    <add key="OauthConsumerKeySecret" value="ENTER YOUR KEY"/>
    <add key="OauthAccessToken" value="ENTER YOUR KEY"/>
    <add key="OauthAccessTokenSecret" value="ENTER YOUR KEY"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="restFullData.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="restFullData.IService1"/>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:22815/Service1.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding" contract="IService1" name="wsHttpBinding">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior/>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>